# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio files
*.tlog
*.opensdf
*.pdb
*.ilk
*.sdf
*.log
*.idb
*.exe
*.lastbuildstate
*.suo
*.db
*.unsuccessfulbuild
*.user
*.vcxproj
*.filters
*.sln

# CMake files
ASCIILib/CMakeFiles/
ASCIILib/cmake_install.cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Vim swap files
*.swp
